<h1>Appointment Reminders with Ruby on Rails</h1>

<p>This demo application will show you how to implement SMS appointment reminders with <%= link_to "Twilio", "http://twilio.com" %> in Ruby on Rails.

<p><%= link_to "Create a new Appointment", new_appointment_path, :class => 'btn btn-primary btn-xs' %> to see how it works!</p>